# Templated passwords as `{some-strong-password}` are written to make sure our
# script detects those, if you manually change those the `{}` are not required and
# would become part of the password.
# Adding `strong` in the template will create longer passwords and is used for the
# passwords which almost never need to be manually typed.

# Database user password.
DB_PASSWORD: {some-strong-database-password}

# Credentials for the judgehost.
JUDGEHOST_USER: judgehost
JUDGEHOST_PASSWORD: {some-strong-judgehost-password}

# Username and password to be used in .netrc files on admin machines
ADMIN_USER: admin
ADMIN_PASSWORD: {some-admin-password}

# Password for domjudge shell user
# Set this to enable a password on the 'domjudge' shell accounts
# created on the domserver and judgehosts.
#DJ_SHELL_USER_PW: {some-hashed-password}

# Sentry DSN URL
# SENTRY_DSN:

# GlitchTip
# GLITCHTIP_SECRET: {some-strong-glitchtip-password}
