[Unit]
Description=DOMjudge JudgeDaemon
After=network.target
Requires=create_cgroups.service
After=create_cgroups.service

[Service]
Type=simple

ExecStart=/opt/domjudge-systest/bin/judgedaemon -n 2
User=domjudge

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

