[Unit]
Description=DOMjudge JudgeDaemon
Requires=create_cgroups.service
Requires=tune_cpu.service
After=create_cgroups.service
After=tune_cpu.service
After=network.target

[Service]
Type=simple

ExecStart=/home/domjudge/domjudge/bin/judgedaemon -n 0
User=domjudge

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

