vrrp_instance lb_ipv4 {
	state MASTER
	interface enp4s0
	use_vmac
	virtual_router_id 32
	priority {{KEEPALIVED_PRIORITY}}
	virtual_ipaddress {
		{{DOMSERVER_IP}}
	}
	authentication {
		auth_type PASS
		auth_pass {{REPLICATION_PASSWORD}}
	}
	notify_backup /home/domjudge/bin/triggeralert.sh
	notify_master /home/domjudge/bin/triggeralert.sh
	notify_fault /home/domjudge/bin/triggeralert.sh
}
