-- This should be run on each master to extract File and Position
-- for setting up the other as slave below.
SHOW MASTER STATUS;

-- This should be run on the slave after the master is set up.
-- The MASTER_LOG_{HOST,FILE,POS} have to be taken from the other master.
STOP SLAVE;
CHANGE MASTER TO MASTER_HOST='10.3.3.XXX',
                 MASTER_USER='replication',
                 MASTER_PASSWORD='{{REPLICATION_PASSWORD}}',
                 MASTER_LOG_FILE='mysql-bin.000001',
                 MASTER_LOG_POS=YYY;
START SLAVE;

SHOW SLAVE STATUS;
