[Desktop Entry]
Name=taillog-domserver-symfony-error
Type=Application
Exec=gnome-terminal --window --geometry 74x17+1000+400 -e 'bash -c "tail -F /home/domjudge/domjudge/webapp/var/logs/prod.log"'
