[Unit]
Description=Tune CPU cores: disable turboboost, downclocking, etc.

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/disable-turboboost_ht
RemainAfterExit=true
ExecStartPre=/bin/sleep 10
Before=domjudge-judgedaemon.target

[Install]
WantedBy=multi-user.target
