[Unit]
Description=Tune CPU cores: disable turboboost, downclocking, etc.

[Service]
Type=oneshot
ExecStart=/root/disable_turboboost_ht.sh
RemainAfterExit=true
