# Server VLAN IP prefix.
SERVER_IP_PREFIX: 172.29.1

# URL and IP of domserver from judgehosts. A hostname 'domserver' with
# DOMSERVER_IP will be added to the judgehost /etc/hosts file.
DOMSERVER: https://domjudge
DOMSERVER_IP: "{{SERVER_IP_PREFIX}}.240"

# Set this when on the blue network at the World Finals where no
# internet access is available and "packages" must be used as APT repo
# server.
WF_GREEN: true
