[Desktop Entry]
Version=1.0
Type=Application
Name=PHPStorm
Icon=/opt/phpstorm/PhpStorm-{{ PHPSTORM_FULL_VERSION }}/bin/phpstorm.png
Exec="/opt/phpstorm/PhpStorm-{{ PHPSTORM_FULL_VERSION }}/bin/phpstorm.sh" %f
Comment=PHPStorm (UDTC)
Categories=Development;IDE;PHP
Terminal=false

