server:
  http_listen_port: 9080
  grpc_listen_port: 19080

positions:
  filename: /var/tmp/promtail-syslog-positions.yml

clients:
{% for host in groups["grafana"] %}
  - url: http://{{ hostvars[host].ansible_host }}:3100/loki/api/v1/push
{% endfor %}

scrape_configs:
  - job_name: system
    static_configs:
      - labels:
          __path__: /var/log/**/*log
{% for group_prefix in GROUP_PREFIXES %}
{% if ansible_fqdn in groups[group_prefix+'judgehost'] %}
  - job_name: judgehostlogs
    static_configs:
      - labels:
          __path__: '/opt/domjudge/output/log/*'
{% endif %}
{% if ansible_fqdn in groups[group_prefix+'domserver'] %}
  - job_name: webapplogs
    static_configs:
      - labels:
          __path__: '/opt/domjudge/webapp/var/log/*'
{% endif %}
{% endfor %}
  # See: https://alexandre.deverteuil.net/post/syslog-relay-for-loki/
  - job_name: syslog
    syslog:
      listen_address: 0.0.0.0:1514
      labels:
        job: syslog
