# inner nginx configuration for DOMjudge
# This is in a separate file to not have duplicate config

server_name _default_;

# set max upload size to infinite since PHP has a setting for this
client_max_body_size {{PHP_UPLOAD_MAX_FILESIZE}};

# Variables used in the nginx configuration
set $domjudgeRoot {{ DJ_DIR }}/webapp/public;
set $prefix '';

location / {
	root $domjudgeRoot;
	try_files $uri @domjudgeFront;

	# Handle API requests separately to be able to split the log
	location /api/ {
		try_files $uri @domjudgeFrontApi;
		error_log /var/log/nginx/domjudge-api.log;
		access_log /var/log/nginx/domjudge-api.log dj_access;
	}
}

location @domjudgeFront {
	fastcgi_split_path_info ^(.+\.php)(/.*)$;
	fastcgi_pass domjudge;
	include fastcgi_params;
	fastcgi_param SERVER_NAME $host;
	fastcgi_param SCRIPT_FILENAME $domjudgeRoot/index.php;
	fastcgi_param SCRIPT_NAME $prefix/index.php;
	fastcgi_param REQUEST_URI $prefix$uri?$args;
	fastcgi_param DOCUMENT_ROOT $domjudgeRoot;
	# Prevents URIs that include the front controller. This will 404:
	# http://domain.tld/app_dev.php/some-path
	internal;
}

location @domjudgeFrontApi {
	fastcgi_split_path_info ^(.+\.php)(/.*)$;
	fastcgi_pass domjudge;
	include fastcgi_params;
	fastcgi_param SERVER_NAME $host;
	fastcgi_param SCRIPT_FILENAME $domjudgeRoot/index.php;
	fastcgi_param SCRIPT_NAME $prefix/index.php;
	fastcgi_param REQUEST_URI $prefix$uri?$args;
	fastcgi_param DOCUMENT_ROOT $domjudgeRoot;
	fastcgi_param HTTPS $http_x_forwarded_proto if_not_empty;
	# Prevents URIs that include the front controller. This will 404:
	# http://domain.tld/app_dev.php/some-path
	internal;

	# Use a separate log file for the API
	error_log /var/log/nginx/domjudge-api.log;
	access_log /var/log/nginx/domjudge-api.log dj_access;
}

# The X-Frame-Options header defends against so-called 'clickjacking' attacks.
# Should you want to load part of DOMjudge (e.g. the public scoreboard) in
# a HTML frame or iframe, disable this header for that part of DOMjudge only.
add_header X-Frame-Options "DENY";

# The following headers should be fine for any DOMjudge installation.
add_header Referrer-Policy "same-origin";
add_header X-Content-Type-Options "nosniff";
add_header X-XSS-Protection "1; mode=block";

error_log /var/log/nginx/domjudge.log;
access_log /var/log/nginx/domjudge.log dj_access;
