---
# These tasks perform fixes used on the ICPC image to the base system.

- name: Add NTP servers
  lineinfile:
    dest: /etc/systemd/timesyncd.conf
    regexp: '^#?NTP='
    line: "NTP=10.3.3.208 10.3.3.209"
  notify: Restart systemd timesyncd
  when: WF_RESTRICTED_NETWORK

- name: Remove source line from interfaces
  lineinfile:
    dest: /etc/network/interfaces
    regexp: '^source-'
    state: absent

- name: Re-order PXEboot
  command: efibootmgr -o {{ EFI_ORDER }}
  when: EFI_ORDER is defined

- name: Disable mumble,selfie services
  service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - mumble-server
    - selfie
