---
# This playbook an admin machine with a dev DOMjudge instance

- name: Setup admin machines
  hosts: admin
  vars:
    host_type: admin
  become: true
  roles:
    - role: base_packages
      tags: base_packages
    - role: icpc_fixes
      tags: icpc_fixes
      when: ICPC_IMAGE
    - role: system_fixes
      tags: system_fixes
    - role: hosts
      tags: hosts
    - role: ssl
      tags: ssl
      vars:
        INSTALL_SSL_PRIVATE_KEYS: true
    - role: domjudge_user
      tags: domjudge_user
    - role: ssh
      tags: ssh
    - role: mysql_server
      tags: mysql_server
    - role: domjudge_checkout
      tags: domjudge_checkout
    - role: domjudge_build
      tags: domjudge_build
    - role: domserver
      tags: domserver
    - role: judgedaemon
      tags: judgedaemon
    - role: clusterssh
      tags: clusterssh
    - role: phpstorm
      tags: phpstorm
    - role: prometheus_target_all
      tags: prometheus_target_all
      when: GRAFANA_MONITORING
  handlers:
    - include: handlers.yml
  tasks:
    - name: Install common required/useful packages
      tags: packages
      apt:
        state: present
        pkg:
          - gitk
          - git-gui
          - makepasswd
          - mmv

    - name: Enable developer mode
      lineinfile:
        regexp: 'APP_ENV='
        line: 'APP_ENV=dev'
        dest: "{{ DJ_DIR }}/webapp/.env.local"
        create: true

    - name: Add cds to hosts file
      lineinfile:
        dest: /etc/hosts
        regexp: 'cds$'
        line: "10.3.3.207 cds"

    - name: Add kattis to hosts file
      lineinfile:
        dest: /etc/hosts
        regexp: 'kattis$'
        line: "10.3.3.212 kattis"

    - name: Add domjudge-laptop to hosts file
      lineinfile:
        dest: /etc/hosts
        regexp: 'domjudge-laptop$'
        line: "10.3.3.200 domjudge-laptop"

    - name: Add nisprint to hosts file
      lineinfile:
        dest: /etc/hosts
        regexp: 'printsrv$'
        line: "10.3.3.211 nisprint nismaster printsrv"

    - name: Update repo URL based on network
      set_fact:
        dj_git_repo_scripts: "{{ DJ_GIT_REPO_SCRIPTS_RESTRICTED if WF_RESTRICTED_NETWORK else DJ_GIT_REPO_SCRIPTS }}"

    - name: Create working copy of the domjudge-scripts repo
      become: true
      become_user: domjudge
      # We use a different directory here to have one single 'upstream' and not have issues with it
      git: repo={{ dj_git_repo_scripts }} dest=/home/domjudge/domjudge-scripts-checkout version=main accept_hostkey=yes update=no

    - name: Create working copy of the wf2020 repo
      become: true
      become_user: domjudge
      git: repo=git@cds:wf2020 dest=/home/domjudge/wf2020 version=master accept_hostkey=yes update=no

    - name: Copy custom CSS file for admin machines
      copy:
        src: admin-machine.css
        dest: "{{ DJ_DIR }}/webapp/public/css/custom/admin-machine.css"
        owner: domjudge
        group: domjudge
        mode: 0644
      notify: Clear application cache

    - name: Install netrc file
      template:
        src: files/netrc.j2
        dest: /home/domjudge/.netrc
        owner: domjudge
        group: domjudge
        mode: 0600
