[defaults]
forks          = 10
log_path = /tmp/ansible.log
system_warnings = True
strategy = free
retry_files_enabled = True
retry_files_save_path = ~/.ansible-retry
callbacks_enabled=profile_tasks
callback_result_format=yaml

[connection]
ssh_args = -A -C -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
