---
# This playbook installs the CDS

- name: Setup CDS
  hosts: cds
  vars:
    host_type: cds
  become: true
  roles:
    - role: base_packages
      tags: base_packages
    - role: icpc_fixes
      tags: icpc_fixes
      when: ICPC_IMAGE
    - role: system_fixes
      tags: system_fixes
    - role: hosts
      tags: hosts
    - role: ssl
      tags: ssl
      when: CDS_HOSTNAME is defined
      vars:
        INSTALL_SSL_PRIVATE_KEYS: true
    - role: domjudge_user
      tags: domjudge_user
    - role: ssh
      tags: ssh
    - role: cds
      tags: cds
    - role: prometheus_target_web
      tags: prometheus_target_web
      vars:
        MARIADB: false
        FPM: false
      when: GRAFANA_MONITORING
    - role: prometheus_target_all
      tags: prometheus_target_all
      when: GRAFANA_MONITORING
