[all:vars]
ansible_user=root
ansible_python_interpreter=/usr/bin/python3

# When moving clients for ad-hoc actions:
# move them to their own group to keep hosts files on deployed machines in sync.

[domserver]
domjudge-primary     ansible_host=10.3.3.216 KEEPALIVED_PRIORITY=100 EFI_ORDER='0\,1\,3\,4'
domjudge-backup      ansible_host=10.3.3.217 KEEPALIVED_PRIORITY=99 EFI_ORDER='0\,1\,3\,4'

[domserver:children]
emergency

[emergency]
domjudge-laptop      ansible_host=10.3.3.218

[judgehost]
domjudge-judgehost1  ansible_host=10.2.2.192
domjudge-judgehost2  ansible_host=10.2.2.193
domjudge-judgehost3  ansible_host=10.2.2.194
domjudge-judgehost4  ansible_host=10.2.2.195
domjudge-judgehost5  ansible_host=10.2.2.196
domjudge-judgehost6  ansible_host=10.2.2.197
domjudge-judgehost7  ansible_host=10.2.2.198
domjudge-judgehost8  ansible_host=10.2.2.199
domjudge-judgehost9  ansible_host=10.2.2.200
domjudge-judgehost10 ansible_host=10.2.2.201
domjudge-judgehost11 ansible_host=10.2.2.202
domjudge-judgehost12 ansible_host=10.2.2.203
domjudge-judgehost13 ansible_host=10.2.2.204
domjudge-judgehost14 ansible_host=10.2.2.205
domjudge-judgehost15 ansible_host=10.2.2.206
domjudge-judgehost16 ansible_host=10.2.2.207
domjudge-judgehost17 ansible_host=10.2.2.208
domjudge-judgehost18 ansible_host=10.2.2.209

[admin]
domjudge-ccsadmin1 ansible_host=10.3.3.223
domjudge-ccsadmin2 ansible_host=10.3.3.224
domjudge-ccsadmin3 ansible_host=10.3.3.225
domjudge-ccsadmin4 ansible_host=10.3.3.226
domjudge-ccsadmin5 ansible_host=10.3.3.227

[grafana]
domjudge-prometheus ansible_host=10.3.3.223

[cds]
domjudge-cds ansible_host=10.2.2.228

[scoreboard]
domjudge-scoreboard ansible_host=10.2.2.229

[mgmt]
domjudge-mgmg ansible_host=10.3.3.223
