---
# This playbook installs the static scoreboard

- name: Setup static scoreboard
  hosts: scoreboard
  vars:
    host_type: scoreboard
  become: true
  roles:
    - role: base_packages
      tags: base_packages
    - role: icpc_fixes
      tags: icpc_fixes
      when: ICPC_IMAGE
    - role: system_fixes
      tags: system_fixes
    - role: hosts
      tags: hosts
    - role: ssl
      tags: ssl
      vars:
        INSTALL_SSL_PRIVATE_KEYS: true
    - role: domjudge_user
      tags: domjudge_user
    - role: ssh
      tags: ssh
    - role: scoreboard
      tags: scoreboard
    - role: prometheus_target_web
      tags: prometheus_target_web
      vars:
        MARIADB: false
        FPM: false
      when: GRAFANA_MONITORING
    - role: prometheus_target_all
      tags: prometheus_target_all
      when: GRAFANA_MONITORING
