{
    "title": "sysops script server",
    "port": {{ SCRIPT_SERVER_PORT }},
    "access": {
        "admin_users": [
            {%- for host in groups['admin'] -%}
                "{{ hostvars[host].ansible_host}}",
            {% endfor %}
            "127.0.0.1"
	]
    },
    "logging": {
        "execution_file": "$DATE-$ID.log",
        "execution_date_format": "%y-%m-%d_%H-%M"
    },
    "security": {
        "xsrf_protection": "token"
    }
}
