/home/domjudge/presclient/client.sh https://{{ CDS_HOSTNAME }}/api/contests/{{ PRESCLIENT_CONTEST }} {{ presentation_account[0].username }} {{ presentation_account[0].password }} --name {{ ansible_hostname }}
