---
- name: restart php-exporter
  service: name=php-fpm-exporter enabled=true state=restarted

- name: restart nginx-exporter
  service: name=prometheus-nginx-exporter enabled=true state=restarted

- name: restart mysqld-exporter
  service: name=prometheus-mysqld-exporter enabled=true state=restarted
