# Server VLAN IP prefix.
SERVER_IP_PREFIX: 172.29.1

# URL and IP of domserver from judgehosts. A hostname 'domserver' with
# DOMSERVER_IP will be added to the judgehost /etc/hosts file.
DOMSERVER_IP: "{{SERVER_IP_PREFIX}}.240"

WF_GREEN: true

# Static IP address configuration. Uses the ansible_host variable as the static
# IP address. Only configured if STATIC_IP_ENABLED is true.
STATIC_IP_ENABLED: false
STATIC_IP_NETMASK: 255.255.252.0
STATIC_IP_GATEWAY: 172.29.0.1
STATIC_IP_INTERFACE: enp1s0

# Additional entries for the /etc/hosts file.
HOSTS:
    cds:             172.29.1.207
    packages:        172.29.1.209
    ntp1:            172.29.1.208
    ntp2:            172.29.1.209
    nisprint:        172.29.1.211
    nismaster:       172.29.1.211
    printsrv:        172.29.1.211

GRAFANA_MONITORING: false

# Password for the MySQL replication user.
# Set this to enable master-master replication between two domservers.
#REPLICATION_PASSWORD: {some-strong-replication-password}

# Database user password.
DB_PASSWORD: {some-strong-database-password}

# Credentials for the judgehost.
JUDGEHOST_PASSWORD: {some-strong-judgehost-password}
