server {
    listen 8443 ssl http2;
    location / {
      proxy_set_header    Host $host;
      proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header    X-Forwarded-Proto $scheme;

      # Expose grafana
      proxy_pass          http://127.0.0.1:3000/;
      proxy_read_timeout  90;
    }

{% if loki %}
    location /loki/ {
       proxy_set_header X-Forwarded-Proto https;
       proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
       proxy_set_header X-Forwarded-Host $host;
       proxy_set_header X-Real-IP $remote_addr;
       proxy_pass http://localhost:3099/;
       proxy_buffering off;
       proxy_redirect off;
       proxy_set_header Host $host;
    }
{% endif $}

    access_log /var/log/nginx/prometheus.log;
    error_log /var/log/nginx/prometheus.log;

    ssl_certificate /etc/ssl/certs/grafana.crt;
    ssl_certificate_key /etc/ssl/private/grafana.key;
    ssl_session_timeout 5m;
    ssl_prefer_server_ciphers on;
}
