# nginx configuration for the CDS

{% if CDS_IP_FILTER is defined %}
geo $network {
    ranges;
    default            BLOCK;
{% for range in CDS_IP_FILTER %}
    {{ range }}        ALLOW;
{% endfor %}
}
{% endif %}

server {
	listen {{ CDS_PORT }};
	listen [::]:{{ CDS_PORT }};

	server_name {{CDS_HOSTNAME}};

	return 301 https://$host$request_uri;
}

server {
	listen   {{ CDS_PORT_SECURE }} ssl http2;
	listen   [::]:{{ CDS_PORT_SECURE }} ssl http2;

	server_name {{CDS_HOSTNAME}};

	ssl_certificate {{CDS_SSL_CERT}};
	ssl_certificate_key {{CDS_SSL_KEY}};
	ssl_session_timeout 5m;
	ssl_prefer_server_ciphers on;

	add_header Strict-Transport-Security max-age=31556952;

	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto https;
		proxy_set_header Host $host;

		{% if CDS_IP_FILTER is defined %}
        if ( $network = ALLOW) {
            proxy_pass https://localhost:8443;
        }
        {% else %}
            proxy_pass https://localhost:8443;
        {% endif %}

		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_request_buffering off;
		proxy_buffering off;
		# CDS event feed sends a heartbeat every 120s, so make sure our timeout is longer
		proxy_read_timeout 130s;
	}
}
