---
# These tasks configure clusterssh

- name: Install clusterssh package
  apt:
    state: present
    pkg:
      - clusterssh

- name: Create clusterssh clusters file
  file:
    state: directory
    owner: domjudge
    group: domjudge
    path: /home/domjudge/.clusterssh
    mode: 0755

- name: Create clusterssh clusters file
  become: true
  become_user: domjudge
  template:
    src: clusters.j2
    dest: /home/domjudge/.clusterssh/clusters
    mode: 0644

- name: Install tmux-cssh
  when: not WF_RESTRICTED_NETWORK
  get_url:
    url: https://raw.githubusercontent.com/peikk0/tmux-cssh/master/tmux-cssh
    dest: /usr/local/bin/tmux-cssh
    mode: 0755
    owner: root
    group: root

- name: Install tmux-cssh
  when: WF_RESTRICTED_NETWORK
  copy:
    src: tmux-cssh
    dest: /usr/local/bin/tmux-cssh
    mode: 0755
    owner: root
    group: root

- name: Set tmux-cssh shorthands
  template:
    owner: root
    group: root
    mode: 0755
    src: tmux-cluster.sh.j2
    dest: /usr/local/bin/{{ item.short }}
  loop:
    - short: ssh-jh
      group: wfinal-judgehost
    - short: ssh-jhanalyst
      group: analyst-judgehost
    - short: ssh-jhall
      group: judgehost
    - short: ssh-dom
      group: wfinal-domserver
    - short: ssh-domanalyst
      group: analyst-domserver
    - short: ssh-domall
      group: domserver
    - short: ssh-all
      group: onprem
    - short: ssh-admin
      group: admin
