---

- name: update judgehost code
  hosts: judgehost
  vars:
    host_type: judgehost
  become: yes
  handlers:
    - name: restart mysql
      service: name=mysql state=restarted
    - name: restart nginx
      service: name=nginx state=restarted
    - name: restart PHP FPM
      service: name=php7.4-fpm state=restarted
    - name: update-ca-certificates
      command: update-ca-certificates
    - name: restart rsyslog
      service: name=rsyslog enabled=yes state=restarted
    - name: restart systemctl
      shell: systemctl daemon-reload
    - name: restart gdm
      service: name=gdm3 enabled=yes state=restarted
  tasks:
    - name: include global variables
      include_vars: variables.yml
    - name: include global (secret) variables
      include_vars: variables-secret.yml

    - name: create working copy directory
      file:
        path: "{{DJ_DIR}}"
        state: directory
        owner: domjudge
        group: domjudge

    - name: create working copy from the repo
      become: yes
      become_user: domjudge
      git: repo={{DJ_GIT_REPO}} dest={{DJ_DIR}} version={{DJ_BRANCH}} accept_hostkey=yes update=yes
      register: git_working_copy

    - name: disable clearing Symfony cache when building
      lineinfile:
        dest: "{{DJ_DIR}}/Makefile"
        regexp: "^(.*-C webapp clear-cache)$"
        line: '#\1'
        backrefs: yes

    - name: run maintainer-conf
      become: yes
      become_user: domjudge
      command: make maintainer-conf CONFIGURE_FLAGS='--disable-doc-build'
      register: dj_configured
      args:
        chdir: "{{DJ_DIR}}"
        creates: "{{DJ_DIR}}/paths.mk"

    - name: check if domjudge is built
      stat: path="{{DJ_DIR}}/judge/judgedaemon"
      register: judgedaemon_binary

    - name: build domjudge
      become: yes
      become_user: domjudge
      shell: make maintainer-install chdir={{DJ_DIR}}
      when: git_working_copy.changed or dj_configured.changed or not judgedaemon_binary.stat.exists

    - name: fix permissions on things
      shell: make -C {{DJ_DIR}} maintainer-postinstall-permissions

    - name: re-enable clearing Symfony cache when building
      lineinfile:
        dest: "{{DJ_DIR}}/Makefile"
        regexp: "^#(.*-C webapp clear-cache)$"
        line: '\1'
        backrefs: yes

    - name: enable and restart the services we just copied
      service: name={{item}} enabled=yes state=restarted
      with_items:
        - domjudge-judgehost
