# Tasks to set up the nginx configuration
---
    - name: install SSL private key files
      copy:
        src: "{{ item }}"
        dest: /etc/ssl/private/
        owner: root
        group: root
        mode: 0600
      with_fileglob:
        - files/ssl/*.key
      notify: update-ca-certificates

    - name: copy in domjudge FPM conf
      copy: src={{DJ_DIR}}/etc/domjudge-fpm.conf remote_src=yes dest=/etc/php/7.2/fpm/pool.d/domjudge.conf
      notify: restart PHP FPM

    - name: copy in domjudge nginx conf
      copy: src={{DJ_DIR}}/etc/nginx-conf remote_src=yes dest=/etc/nginx/sites-available/domjudge.conf
      notify: restart nginx

    - name: copy in domjudge inner nginx conf
      copy: src={{DJ_DIR}}/etc/nginx-conf-inner remote_src=yes dest=/etc/nginx/snippets/domjudge-inner
      notify: restart nginx

    - name: remove HTTP host
      blockinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        marker: "{mark}"
        marker_begin: "### http host config ###"
        marker_end: "# Alternatively, use HTTPS and redirect HTTP to HTTPS:"
      notify: restart nginx

    - name: enable HTTP redirect and HTTPS blocks
      replace:
        path: /etc/nginx/sites-available/domjudge.conf
        after: 'upstream domjudge \{'
        regexp: '^# ?(.*)'
        replace: '\1'
      notify: restart nginx

    - name: remove IPv6 listens
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'listen\s+\[.*\]:\d+;'
        state: absent
      notify: restart nginx

    - name: change IPv4 HTTP listen to default server
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'listen.*80;'
        line: "\tlisten 80 default_server;"
      notify: restart nginx

    - name: change IPv4 HTTPS listen to all interfaces
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'listen.*443;'
        line: "\tlisten 443 ssl http2 default_server;"
      notify: restart nginx

    - name: increase max body size to upload size
      lineinfile:
        path: /etc/nginx/snippets/domjudge-inner
        regexp: 'client_max_body_size'
        line: "client_max_body_size {{PHP_UPLOAD_MAX_FILESIZE}};"
      notify: restart nginx

    - name: remove prefixed domjudge location
      blockinfile:
        path: /etc/nginx/snippets/domjudge-inner
        marker: "{mark}"
        marker_begin: "# Or you can install it with a prefix"
        marker_end: "location @domjudgeFront {"
        block: "# --- This block has been removed in favor of the 'location /' block ---"
      notify: restart nginx

    - name: run DOMjudge in root
      replace:
        path: /etc/nginx/snippets/domjudge-inner
        after: '# Uncomment to run it out of the root of your system'
        regexp: '^# ?(location|\t|})(.*)'
        replace: '\1\2'
      notify: restart nginx

    - name: set prefix to be empty
      lineinfile:
        path: /etc/nginx/snippets/domjudge-inner
        regexp: 'prefix .*;'
        line: "set $prefix '';"
      notify: restart nginx

    - name: configure SSL certificate
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'ssl_certificate (.*)'
        line: "\tssl_certificate {{DOMSERVER_SSL_CERT}};"
      notify: restart nginx

    - name: configure SSL key
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'ssl_certificate_key (.*)'
        line: "\tssl_certificate_key {{DOMSERVER_SSL_KEY}};"
      notify: restart nginx

    - name: use our own inner nginx configuration
      lineinfile:
        path: /etc/nginx/sites-available/domjudge.conf
        regexp: 'include (.*)nginx-conf-inner;'
        line: "\tinclude /etc/nginx/snippets/domjudge-inner;"
      notify: restart nginx

    - name: enable nginx conf for domjudge
      file: src=/etc/nginx/sites-available/domjudge.conf dest=/etc/nginx/sites-enabled/domjudge.conf state=link
      notify: restart nginx

    - name: disable default nginx site
      file: state=absent path=/etc/nginx/sites-enabled/default
      notify: restart nginx

    - name: Set PHP settings
      lineinfile:
        dest: /etc/php/7.2/fpm/pool.d/domjudge.conf
        regexp: "{{item.regexp}}"
        line: "{{item.key}} = {{item.value}}"
      with_items:
        - { key: 'pm.max_children', regexp: '^pm\.max_children', value: '{{PHP_FPM_MAX_CHILDREN}}' }
        - { key: 'php_admin_value[memory_limit]', regexp: '^php_admin_value\[memory_limit\]', value: '{{PHP_MEMORY_LIMIT}}' }
        - { key: 'php_admin_value[upload_max_filesize]', regexp: '^php_admin_value\[upload_max_filesize\]', value: '{{PHP_UPLOAD_MAX_FILESIZE}}' }
        - { key: 'php_admin_value[post_max_size]', regexp: '^php_admin_value\[post_max_size\]', value: '{{PHP_POST_MAX_SIZE}}' }
        - { key: 'php_admin_value[max_file_uploads]', regexp: '^php_admin_value\[max_file_uploads\]', value: '{{PHP_MAX_FILE_UPLOADS}}' }
      notify: restart PHP FPM
