127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{ DOMSERVER_IP }}             domjudge domserver
{% for item in groups['all'] %}
{% if hostvars[item].ansible_host is defined %}
{{ hostvars[item].ansible_host }}              {{ item }}
{% endif %}
{% endfor %}

{% if WF_RESTRICTED_NETWORK %}
{{ PACKAGES_IP }} packages
10.3.3.207 cds
{% endif %}
