[
{% for account in CDS_ACCOUNTS %}
    {
        "id": "{{ account.username }}",
        "username": "{{ account.username }}",
        "password": "{{ account.password }}",
        "type": "{{ account.type }}"{% if account.team_id is defined %},
        "team_id": "{{ account.team_id }}"{% endif %}

    }{% if not loop.last %},{% endif %}

{% endfor %}
]
